<div class="container col-lg-6">
    <h1 class="text-left mb-3">Connexion</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <!-- <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div> -->
          <div class="form-group mb-3">
            <label for="email">Email </label>
            <input type="email" class="form-control" id="email" [(ngModel)]="employee.email" placeholder="Email"
              name="email">
          </div>
          <div class="form-group mb-5">
            <label for="pwd">Mot de passe </label>
            <input type="password" class="form-control" [(ngModel)]="employee.password" id="password" placeholder="Mot de passe"
              name="password">
          </div>
          <button (click)="checkLogin()" class="btn btn-success">Connexion</button>
        </form>
      </div>
    </div>
  </div>