<div class=" container table-responsive">
  <h3 class="mb-4">{{ notebook?.name }}</h3>
  <!-- PROBLEME AVEC {{ notebook.name }}< -->
  <table class="table table-hover border-success">
    <thead>
      <tr>
        <!-- <th>id</th>
        <th>activité</th> -->
        <th>observation</th>
        <th>début</th>
        <th>fin</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let post of posts">
        <!-- <td>{{ post.id }}</td>
        <td>{{ post.activityType }}</td> -->
        <td>{{ post.observation }}</td>
        <td>{{ post.startTime }}</td>
        <td>{{ post.endTime }}</td>
        <td class="d-flex justify-content-end">
          <button type="button" class="btn btn-sm btn-outline-primary me-2" (click)="openPostModal()">Modifier</button>
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="deletePost(post.id)">Supprimer</button>
      </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="back()">
      Retour
    </button>
    <button type="button" class="btn btn-sm btn-outline-success" (click)="openNoteModal()" >
      Nouvelle note
    </button>
  </div>
</div>

