<div class="container mb-5">
  <div class="col-4">
    <h3>Sections</h3>
  </div>
  <br />
  <div class="card-group">
    <div class="card mx-2">
      <a routerLink="/section/{{ sections[0].id }}" class="section-name"><img
          src="assets/img/baby.png"
          class="card-img-top"
          alt="Icon d'un nourisson"/>
      </a>
      <div class="card-body">
        <h3 class="card-title mb-4">{{ sections[0].name }}</h3>
        <p class="card-text">
          Cette section concerne les nourissons à partir de trois mois et demi
        </p>
        <p class="card-text">
          <small class="text-muted">Nb d'enfants : {{ sections[0].children?.length || "0" }}</small>
        </p>
      </div>
    </div>
    <br />
    <div class="card mx-2">
      <a routerLink="/section/{{ sections[1].id }}" class="section-name">
        <img
          src="assets/img/baby-girl.png"
          class="card-img-top"
          alt="Icon d'un bébé" />
      </a>
      <div class="card-body">
        <h3 class="card-title mb-4">{{ sections[1].name }}</h3>
        <p class="card-text">
          Cette section concerne les bébés à partir d'un an
        </p>
        <p class="card-text">
          <small class="text-muted">Nb d'enfants : {{ sections[1].children?.length || "0" }}</small>
        </p>
      </div>
    </div>
    <br />
    <div class="card mx-2">
      <a routerLink="/section/{{ sections[2].id }}" class="section-name">
        <img
          src="assets/img/playtime.png"
          class="card-img-top"
          alt="Icon d'un enfant"/>
      </a>
      <div class="card-body">
        <h3 class="card-title mb-4">{{ sections[2].name }}</h3>
        <p class="card-text">
          Cette section concerne les bébés à partir de deux ans
        </p>
        <p class="card-text">
          <small class="text-muted">Nb d'enfants : {{ sections[2].children?.length || "0" }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
