img{
	border-radius: 50%;
    width: 20%;
}

.table td {
    text-align: left;
} 

span {
    font-weight: 600;
}

/* searchbox input */
.form-control{
    width: 180% !important;
}

@media only screen and (max-width: 720px) {
    /* searchbox input */
    .form-control{
        width: 450% !important;
        
    }
    
    img{
        width: 60%;
    }
}