<div class="container table-responsive">
  <h3 class="mb-4">Carnets</h3>
  <table class="table table-hover border-success">
    <thead>
      <tr>
        <!-- <th>id</th> -->
        <th>nom</th>
        <th>creation</th>
        <th>notes</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let notebook of notebooks">
        <!-- <td>{{notebook.id}}</td> -->
        <td>
          <a routerLink="/notebook/{{ notebook.id }}" class="notebook-name">{{
            notebook.name
          }}</a>
        </td>
        <td>{{ notebook.created | date: "shortDate" }}</td>
        <td *ngIf="notebook.posts">{{ notebook.posts?.length || "0" }}</td>
        <button
        type="button"
          class="btn btn-sm btn-outline-success"
          routerLink="/notebook/{{ notebook.id }}"
        >
          <!-- notes -->
          <!-- <fa-icon [icon]="fa-notebook"></fa-icon> -->
        </button>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-sm btn-outline-primary" (click)="back()">
    Retour
  </button>
</div>
